extends ../../layout/user-pages

block header-pages 
    include ../../includes/header-pages-user

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content=csrfToken)

block content 
    div(class="py-12")
        p(class="text-center text-2xl font-semibold")=`${estate.title}'s ` 
            span(class="font-normal") Image

        p(id="info_load_msg" class="hidden delay-1000 duration-1000 w-full max-w-xs mx-auto py-1 mt-10 mb-5 bg-green-400 text-gray-50 font-semibold text-sm text-center shadow rounded-md") Image uploaded successfully

        div(class="bg-white text-center space-y-5 shadow my-12 py-5 rounded-sm mx-auto w-10/12 sm:max-w-xl md:px-10")
            form(id="imgs" class="dropzone border-dashed border-2 w-10/12 mx-auto sm:w-full min:h-96 h-auto rounded-sm flex-col justify-center items-center" method="POST" action=`/page/estate/add-image/${estate.id}`)
                input(type="hidden" name="_csrf" value=csrfToken)
            input(id="publish" tupe="button" class="w-28 bg-yellow-300 hover:bg-yellow-400 font-semibold py-1 cursor-pointer rounded-md" type="submit" value="Save")

block scripts
    script(src="/js/addImageEstate.js")
    script(src="/js/menuMobile.js")